.Show-More{
    margin-top: 1rem;
    margin-right: 2rem;
    height: 3rem;
    width: 100x;
    border: 2px solid black;
    border-radius: 5px;
}
.Show-More:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.Show-Less
{   
    margin-top: 1rem;
    margin-left: 2rem; 
    width: 130px;
     height: 3rem;
    border: 2px solid black;
    border-radius: 5px;
}

.Show-Less:hover{
    cursor: pointer;
    background-color: rgb(100, 14, 76);
    color: white;
}

